:root {
    --main-bg-color: hsl(275, 100%, 97%);
    --heading-text-color: hsl(292, 42%, 14%);
    --main-text-color: hsl(292, 16%, 49%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
